body {
    background-color: lightslategray;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#input {
    font-size: 30px;
    width: 349px;
    height: 30px;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pievientoProd {
    display: flex;
    justify-content: center;
    align-items: center;
}